body {
    background-color: #289688;
    text-align: center;
}

h1 {
    color: #FCEA3E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
}

img {
    border: 10px solid white;
    margin: 5px;
}




