* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E11364;
    font-family: sans-serif;
}

.estructura {
    margin-left: 7%;
    margin-right: 7%;
}

.back-color-1 {
    background-color: #BC105C;
}

#titulo {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: solid 4px;
    border-right: solid 4px;
    border-color: white;
    text-align: center;
    font-size: 18px;
    color: white;
}

.separacion-lat {
    width: 98%;
    margin: auto;
}

h2 {
    color: white;
}

article {
    background-color: white;
    margin: 20px 10px;
    padding-bottom: 10px;
}

main {
    padding-bottom: 10px;
}

img {
    padding-top: 15px;
    display: block;
}

.subtitulo {
    font-size: 17px;
    padding-top: 15px;
    padding-left: 10px;
}

.nom-juego {
    color: #BC105C;
    font-size: 12px;
    text-align: right;
    padding-top: 12px;
    border-bottom: dotted;
}

.parrafos {
    color: black;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin: 10px 0;
}

.final {
    background-color: #E96093;
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.boton {
    display: block;
    text-align: center;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #2C8F20;
}

.boton:hover {
    background-color: #BC105C;
}

.borde {
    border-radius: 10px;
}